body{
  flex-flow: row;
}
/* SIDEBAR -------- */
.aside{
  width: 25vw;
  display: flex;
  flex-flow: column;
  background-color: var(--background-color-content);
  position: fixed;
  height: 100vw;
}
.aside .navbar{
  background-image: var(--background-image-tinder);
  color: var(--text-color-flipped);
  padding: 1.2rem 1.4rem;
  font-size: 1.4rem;
  box-shadow: 0 1px 8px 0 rgba(0,17,25,.27);
}
.my-profile{
  display: flex;
  align-items: center;
}
.my-profile img {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  border: 2px solid white;
  margin-right: 1rem;
  box-shadow: 0 1px 5px 0 hsla(0,0%,42.7%,.56);
}
.my-profile__header{
  font-weight: lighter;
}
.aside-navbar{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 1rem 0;
}
.matches, .messages{
  cursor: pointer;
}
.matches[aria-selected=true], .messages[aria-selected=true]{
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid var(--background-color-tinder);
}
.matches span:first-child, .messages span:first-child{
  font-weight: bold;
}
.match-count, .message-count{
  background-color: var(--background-color-tinder);
  border-radius: 5rem;
  padding: 0.2rem 0.4rem;
  color: var(--text-color-flipped);
  font-size: 0.8rem;
}
.aside-content{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
}
.match-card{
  color: var(--text-color-flipped);
  margin-bottom: 0.5rem;
  background-repeat: no-repeat;
  border-radius: 3px;
  cursor: pointer;
  transition-duration: .25s;
  display: flex;
  align-items: flex-end;
  background-size: 110%;
  background-position: center;
  width: 30%;
  height: 130px;;
}
.match-card:hover{
  transform: scale(1.1);
}
.match-card span{
  padding: 5px;
}
/* MAIN APP */
.main {
  position: relative;
  width: 74vw;
  left: 25vw;
  border-left: 1px solid var(--border-color);
}
.card-container{
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--background-color);
}
.card{
  max-width: 25vw;
  margin: 1rem auto;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px 0 rgba(84,84,84,0.77);
  min-height: 75vh;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--background-color-tinder);
}
.photo-count-container{
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem;
}
.photo-count-container > button{
  flex: 1;
  opacity: 0.5;
  background-color: white;
  border-style: none;
  border: 0 !important;
  height: 0.2rem;
  border-radius: 1rem;
  margin: 0.1rem;
  cursor: pointer;
}
.photo-count-container > button[aria-selected="true"]{
  opacity: 1;
}
.photo-buttons {
  visibility: hidden;
  flex: 1;
}
.card:hover .photo-buttons{
  display: flex;
  visibility: initial;
  cursor: pointer;
  align-items: stretch;
}
.image-left, .image-right{
  display: inline-flex;
  flex: 1;
  user-select: none;
  align-items: center;
}
.image-right{
  justify-content: right;
}
.card__header{
  color: var(--text-color-flipped);
  display: flex;
  flex-flow: row;
  padding: 1rem;
}
.profile-photo{
  height: 75vh;
}
.bio{
  padding: 1rem;
}
.instagram .photo-container{
  overflow: scroll;
  display: flex;
  flex-flow: row nowrap;
}
.instagram .photo-container .isntagram-photo img{
  height: 150px;
}
.actions{
  display: flex;
  justify-content: center;
}
.actions > div {
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  background-color: var(--background-color-content);
  border-radius: 50%;
  width: 2.5rem;
  text-align: center;
  margin: 0 1rem;
  height: 2.5rem;
  transition-timing-function: ease;
  transition-duration: .25s;
  user-select: none;
  box-shadow: 0 2px 6px 0 rgba(112,125,134,0.14);
}
.actions > div:hover{
  transform: scale(1.1);
}
.actions > div:active{
  transform: scale(1.1);
}
.keyboard-shortcuts {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.keyboard-shortcuts div {
  margin-right: 1rem;
  color: var(--text-color-light);
}