{% extends 'tinder/base.html' %}

{% block cards %}
  <div class="profile" aria-valuenow="{{g.profile.id}}">
    <div class="card" style="background-image: url({{g.profile.photos[0]}});" aria-colindex="0"> <!-- should contain first image as background -->
      <div class="photo-count-container"></div>
      <div class="photo-buttons">
        <div class="image-left">👈</div>
        <div class="image-right">👉</div>
      </div>
      <div class="card__header"> <!-- contains name, age, distance -->
        <div class="name">{{g.profile.name}}</div>
        <div class="age">{{g.profile.age}}</div>
        <div class="distance">{{g.profile.distance}}</div>
      </div>
      <div class='card__content {% if g.profile.bio == "" and g.profile.instagram.photos == [] %}hidden{% endif %}'>
        <details>
          <div class='bio {% if g.profile.bio == "" %}hidden{% endif %}'>
            {{g.profile.bio}}
          </div>
          <div class="instagram {% if g.profile.instagram.photos == [] %}hidden{% endif %}">
            <div class="photo-container"> <!-- scrollable -->
              <div class="instagram-photo">
              </div>
            </div>
          </div>
        </details> 
      </div>
    </div>
    <div class="actions">
      <div class="dislike">🙅‍♂️</div>
      <div class="superlike">😍</div>
      <div class="like">👍</div>
    </div>
  </div>
  <script>
    // --------- GETTING DATA FROM TINDER ---------

    function get_next_profile(){
      fetch("{{tinder_fetch_profile_url}}")
      .then((resp) => resp.json())
      .then((data) => {
        document.profiles = data;
        document.current_profile = document.profiles[0]
        setup_profile()
      });
    }

    // --------- PRESENTATION LOGIC ---------
    Number.prototype.mod = function(n) { // src https://stackoverflow.com/questions/4467539/javascript-modulo-gives-a-negative-result-for-negative-numbers
      return ((this%n)+n)%n;
    };

    function preload_next_image(idx){
      index = Number(idx+1).mod(document.current_profile.photos.length); // in case
      img=new Image();
      img.src=document.current_profile.photos[index];
    }

    function go_to_image(idx){
      index = Number(idx).mod(document.current_profile.photos.length); // in case

      // clear active button 
      selected = document.querySelector('button[aria-selected="true"]')
      if (selected != null)
        selected.removeAttribute('aria-selected')
      
      document.querySelector(`button[aria-colspan="${index}"]`).setAttribute('aria-selected', true)

      get_card().style = `background-image: url(${document.current_profile.photos[index]})`;
      get_card().setAttribute('aria-colindex', index);
      preload_next_image(index);
    }

    function get_card(){
      return document.getElementsByClassName('card')[0];
    }

    function get_current_image_index(){
      return parseInt(get_card().attributes['aria-colindex'].value);
    }

    profile_el = document.getElementsByClassName('profile')[0]
    name_el = document.getElementsByClassName('name')[0]
    age_el = document.getElementsByClassName('age')[0]
    distance_el = document.getElementsByClassName('distance')[0]
    photo_count_container = document.getElementsByClassName('photo-count-container')[0];
    photo_buttons = document.getElementsByClassName('photo-buttons')[0];
    card_content = document.getElementsByClassName('card__content')[0];
    details_el = document.getElementsByClassName('card__content')[0].children[0];
    bio_el = document.getElementsByClassName('bio')[0]
    instagram_container_el = document.getElementsByClassName('instagram.photo-container')[0]
    left_button = photo_buttons.children[0];
    right_button = photo_buttons.children[1];

    function setup_picture_carousel_buttons(){
      photo_count_container.innerHTML = ''
      for(i=0;i<document.current_profile.photos.length; i++){
        el = document.createElement('button');
        el.setAttribute('aria-colspan', i);
        photo_count_container.appendChild(el);

        // on click button
        el.addEventListener('click', event => {
          go_to_image(parseInt(event.target.attributes['aria-colspan'].value));
        });
      }
    }

    function setup_profile(){
      profile_el.setAttribute('aria-valuenow', document.current_profile.id)
      setup_picture_carousel_buttons()
      photo_count_container.setAttribute('aria-colcount', document.current_profile.photos.length);
      go_to_image(0);
      name_el.textContent = document.current_profile.name
      age_el.textContent = document.current_profile.age
      distance_el.textContent = document.current_profile.distance
      bio_el.textContent = document.current_profile.bio
      // instagram set elements
      if (document.current_profile.bio == ""){
        card_content.classList.add('hidden')
        bio_el.classList.add('hidden');
      } else if (document.current_profile.bio != ""){
        card_content.classList.remove('hidden')
        bio_el.classList.remove('hidden');
      }
    }

    function initialize_keyboard_event_listeners(){
      
      document.addEventListener('keydown', (event) => {
        const keyName = event.key;

        switch (event.key) {
          case "Down": // IE/Edge specific value
          case "ArrowDown":
          case "Up": // IE/Edge specific value
          case "ArrowUp":
            details_el.open = !details_el.open;
            break;
          case "Left": // IE/Edge specific value
          case "ArrowLeft":
            tinder_action({'id': profile_el.attributes['aria-valuenow'].value, 'action': 'dislike'})
            break;
          case "Right": // IE/Edge specific value
          case "ArrowRight":
            tinder_action({'id': profile_el.attributes['aria-valuenow'].value, 'action': 'like'})
            break;
          case "Enter":
            tinder_action({'id': profile_el.attributes['aria-valuenow'].value, 'action': 'superlike'})
            break;
          case "(Space character)": // IE/Edge specific value
          case " ":
            right_button.click()
            break;
          case "1":
            go_to_image(0);
            break;
          default:
            return
          event.preventDefault();
        }
      }, false);
    }

    function __init__(){
      document.current_profile = {{g.profile|tojson}};
      setup_profile()

      photo_buttons.addEventListener('click', (event) => {
        direction = event.target == left_button ? -1 : 1;
        go_to_image(get_current_image_index() + direction)
      });

      initialize_keyboard_event_listeners();
    }

      __init__();

    // --------- ACTIONS ---------

    actions = document.getElementsByClassName('actions');
    for(i=0; i<actions.length; i++){
      actions[i].addEventListener('click', event => {
          event.preventDefault();
          tinder_action({'id': event.target.parentElement.parentElement.attributes['aria-valuenow'].value, 'action': event.target.className})
      });
    }

    function tinder_action(data) {
      fetch("{{tinder_action_url}}", {
        method: "POST",
        body: JSON.stringify(data),
        headers: {"content-type": "application/json"},
      }).then((resp) => resp.json())
        .then((data) => {
        delete data['X-Padding']
        console.log(data);
        if (data.match){
          alert('You have a new match')
        }
        get_next_profile()
      });
    }
  </script>
{% endblock %}