{% extends 'tinder/base.html' %}

{% block cards %}
  <div class="profile" aria-valuenow="">
    <div class="card" aria-colindex="0"> <!-- should contain first image as background -->
      <div class="photo-count-container"></div>
      <div class="photo-buttons">
        <div class="image-left">👈</div>
        <div class="image-right">👉</div>
      </div>
      <div class="card__header"> <!-- contains name, age, distance -->
        <div class="name_and_age">
          <div class="name"></div>
          <div class="age"></div>
        </div>
        <div class="distance-container"><span class="distance-icon">📍</span><span class="distance"></span></div>
      </div>
      <div class='card__content hidden'>
        <details>
          <div class='bio hidden'>
          </div>
        </details> 
      </div>
    </div>
    <div class="actions">
      <div class="dislike action">🙅‍♂️</div>
      <div class="superlike action">😍</div>
      <div class="like action">👍</div>
    </div>
  </div>
  <script>
    // --------- GETTING DATA FROM TINDER ---------

    function fetch_next_profiles(){
      fetch("{{tinder_fetch_profile_url}}")
        .then((resp) => resp.json())
        .then((data) => {
          document.profiles = document.profiles.concat(...data);
          if (document.profile_set_up){
            return undefined;
          }
          document.profile_set_up = true;
          if (document.current_profile === undefined){
            document.current_profile = document.profiles.shift();
          }
          setup_profile();
        });
    }

    // --------- FETCHING LOGIC ---------

    function get_next_profile(){
      // pop the first element off of profiles (always one there, since we fetch more before it becomes empty)
      document.current_profile = document.profiles.shift();
      document.profile_set_up = false;
      if (document.profiles.length < 2){
        fetch_next_profiles();
      }
      if (document.current_profile === undefined || document.profile_set_up){
        return undefined;
      }
      setup_profile();
    }

    function call_setup_profile(){
      if (document.profile_set_up)
        return null
      if (document.current_profile != undefined){
        document.profile_set_up = true;
        setup_profile();
      }
    }

    // --------- PRESENTATION LOGIC ---------
    Number.prototype.mod = function(n) { // src https://stackoverflow.com/questions/4467539/javascript-modulo-gives-a-negative-result-for-negative-numbers
      return ((this%n)+n)%n;
    };

    function preload_image(url){
      img=new Image();
      img.src=url;
    }

    function preload_next_image(profile, idx){
      index = Number(idx+1).mod(profile.photos.length); // in case
      preload_image(profile.photos[index]);
    }

    function go_to_image(idx){
      index = Number(idx).mod(document.current_profile.photos.length); // in case

      // clear active button 
      selected = document.querySelector('button[aria-selected="true"]')
      if (selected != null)
        selected.removeAttribute('aria-selected')
      
      document.querySelector(`button[aria-colspan="${index}"]`).setAttribute('aria-selected', true)

      get_card().style = `background-image: url(${document.current_profile.photos[index]})`;
      get_card().setAttribute('aria-colindex', index);
      preload_next_image(document.current_profile, index);
    }

    function get_card(){
      return document.getElementsByClassName('card')[0];
    }

    function get_current_image_index(){
      return parseInt(get_card().attributes['aria-colindex'].value);
    }

    profile_el = document.getElementsByClassName('profile')[0]
    name_el = document.getElementsByClassName('name')[0]
    age_el = document.getElementsByClassName('age')[0]
    distance_el = document.getElementsByClassName('distance')[0]
    photo_count_container = document.getElementsByClassName('photo-count-container')[0];
    photo_buttons = document.getElementsByClassName('photo-buttons')[0];
    card_content = document.getElementsByClassName('card__content')[0];
    details_el = document.getElementsByClassName('card__content')[0].children[0];
    bio_el = document.getElementsByClassName('bio')[0]
    instagram_container_el = document.getElementsByClassName('instagram.photo-container')[0]
    left_button = photo_buttons.children[0];
    right_button = photo_buttons.children[1];

    function setup_picture_carousel_buttons(){
      photo_count_container.innerHTML = ''
      for(i=0;i<document.current_profile.photos.length; i++){
        el = document.createElement('button');
        el.setAttribute('aria-colspan', i);
        photo_count_container.appendChild(el);

        // on click button
        el.addEventListener('click', event => {
          go_to_image(parseInt(event.target.attributes['aria-colspan'].value));
        });
      }
    }

    function miles_to_km(miles) {
      ONE_MILE_IN_KM = 1.60934;
      return miles*ONE_MILE_IN_KM;
    }

    function dob_to_age(dob){
      return (new Date()).getFullYear() - parseInt(dob.substr(0, 4));

    }

    function setup_profile(){
      document.current_profile.photos = document.current_profile.user.photos.map(photo => photo.url);
      if (document.current_profile.instagram !== undefined && document.current_profile.instagram.media_count > 0){
        ig_photos = document.current_profile.instagram.photos.map(photo => photo['image']);
        document.current_profile.photos = document.current_profile.photos.concat(...ig_photos);
      }
      debugger
      profile_el.setAttribute('aria-valuenow', document.current_profile.user.id);
      setup_picture_carousel_buttons();
      photo_count_container.setAttribute('aria-colcount', document.current_profile.photos.length);
      go_to_image(0);
      name_el.textContent = document.current_profile.user.name;
      age_el.textContent = dob_to_age(document.current_profile.user.birth_date);
      distance_el.textContent = `${Math.round(miles_to_km(document.current_profile.distance_mi))} km away`;
      bio_el.textContent = document.current_profile.user.bio;
      // instagram set elements
      if (document.current_profile.user.bio == ""){
        card_content.classList.add('hidden')
        bio_el.classList.add('hidden');
      } else if (document.current_profile.user.bio != ""){
        card_content.classList.remove('hidden')
        bio_el.classList.remove('hidden');
      }

      if (document.profiles[0] !== undefined){
        preload_image(document.profiles[0].user.photos[0]['url']);
      }
    }

    function initialize_keyboard_event_listeners(){
      
      document.addEventListener('keydown', (event) => {
        const keyName = event.key;

        switch (event.key) {
          case "Down": // IE/Edge specific value
          case "ArrowDown":
          case "Up": // IE/Edge specific value
          case "ArrowUp":
            details_el.open = !details_el.open;
            break;
          case "Left": // IE/Edge specific value
          case "ArrowLeft":
            tinder_action({'id': profile_el.attributes['aria-valuenow'].value, 'action': 'dislike'})
            break;
          case "Right": // IE/Edge specific value
          case "ArrowRight":
            tinder_action({'id': profile_el.attributes['aria-valuenow'].value, 'action': 'like'})
            break;
          case "Enter":
            tinder_action({'id': profile_el.attributes['aria-valuenow'].value, 'action': 'superlike'})
            break;
          case "(Space character)": // IE/Edge specific value
          case " ":
            right_button.click()
            break;
          case "1":
            go_to_image(0);
            break;
          default:
            return
          event.preventDefault();
        }
      }, false);
    }

    function __init__(){
      document.profiles = JSON.parse(localStorage.getItem('profiles'));
      photo_buttons.addEventListener('click', (event) => {
        direction = event.target == left_button ? -1 : 1;
        go_to_image(get_current_image_index() + direction)
      });

      initialize_keyboard_event_listeners();
      debugger;
      if (document.profiles === null || document.profiles === [] || document.profiles.length === 0){
        document.profiles = [];
      }
      get_next_profile();

      // save data when user closes the window
      window.onbeforeunload = function(){
        document.profiles.unshift(document.current_profile);
        localStorage.setItem('profiles', JSON.stringify(document.profiles));
      }
    }

    __init__();

    // --------- ACTIONS ---------

    actions = document.getElementsByClassName('action');
    for(i=0; i<actions.length; i++){
      actions[i].addEventListener('click', event => {
          event.preventDefault();
          tinder_action({'id': event.target.parentElement.parentElement.attributes['aria-valuenow'].value, 'action': event.target.className})
      });
    }

    function tinder_action(data) {
      fetch("{{tinder_action_url}}", {
        method: "POST",
        body: JSON.stringify(data),
        headers: {"content-type": "application/json"},
      }).then((resp) => resp.json())
        .then((data) => {
        delete data['X-Padding']
        console.log(data);
        if (data.match){
          alert('You have a new match')
        }
      });
      get_next_profile()
    }
  </script>
{% endblock %}