.header{
  display: flex;
  border-bottom: 1px solid var(--border-color);
}
.footer{
  border-top: 1px solid var(--border-color);
}
.nav{
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: stretch;
}
.brand-bar{
  text-align: center;
  background: var(--background-image-tinder);
  color: var(--text-color-flipped);;
}
.brand-bar h1{
  font-size: 1.5rem;
  margin: 1rem auto;
}
.navigation-bar, .footer{
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  background-color: var(--background-color-content);
}
.navigation-bar a, .footer a{
  padding: 1rem;
  flex-shrink: 0;
  text-decoration: none;
  color: var(--text-color);
}
.navigation-bar a:hover{
  background-color: var(--background-color);
}
.main{
  min-width: 500px;
  width: 50vw;
  margin: 1rem auto;
  min-height: calc(100vh - 12.1rem);
}
.log-in-form{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 1rem auto;
  font-size: 1.1rem;
}
.log-in-form #phone_number, .log-in-form #otp_code{
  flex: 1;
  margin: auto -2rem auto 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: 2px solid var(--border-color);
  font-size: 1.15rem;
}
.log-in-form #phone_number:focus, .log-in-form #otp_code:focus {
  outline: none;
  border: 2px solid var(--background-color-tinder);
  }
.log-in-form .submit_wrapper{
  z-index: 2;
  position: relative;
  right: 0.4rem;
  background: var(--background-image-tinder);
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
}
.log-in-form .submit{
  cursor: pointer;
  background: transparent;
  color: var(--text-color-flipped);
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  border: none;
  height: 3rem;
  width: 3rem;
  position: relative;
  bottom: 0.5rem;
  right: 0.5rem;
  transition-timing-function: ease;
  transition-duration: .25s;
}
.log-in-form .submit:hover{
  transform: translateY(-1rem);
  opacity: 0;
}
.log-in-form .submit:active{
  background: var(--background-image-tinder);
  color: var(--text-color-flipped);
}
.footer{
  background-color: var(--background-color-dark);
}
.footer a{
  color: var(--text-color-flipped);
}
.footer a:hover{
  background-color: var(--background-color-dark-lighter);
}